- flash.each_with_index do |(type, message), index|
  - if message.class == String
    :javascript
      setTimeout(function() {
        return flash_message.#{type}("#{message.gsub(/"/, '\"')}");
      }, #{(index - 1)*1200 + 1});
