# UAPP-Core configuration file
# 沒有 .example 尾綴的組態檔會優先被讀取，若不存在將由帶有 .example 尾綴的代替。
# 除了監測與分析工具外，所有組態必須正確設定，否則會導致程式錯誤。

# 預設由環境變數取得組態，可以由底下的特定環境設定來覆寫。
defaults: &defaults

  # 密鑰。
  # 全站密鑰，用於共用資料的加密，所有站點必須一致。
  site_secret_key: <%= ENV["SITE_SECRET_KEY"] %>
  # 本站密鑰。
  app_secret_key: <%= ENV["APP_SECRET_KEY"] %>
  # Pepper。
  app_pepper: <%= ENV["APP_PEPPER"] %>

  # 網址。
  # 本站所在網域。
  app_domain: <%= ENV["APP_DOMAIN"] %>
  # 本站所在網址。
  app_url: <%= ENV["APP_URL"] %>

  # 名稱、描述。
  site_name: <%= ENV["SITE_NAME"] %>
  org_name: <%= ENV["ORG_NAME"] %>
  app_name: <%= ENV["APP_NAME"] %>
  app_description: <%= ENV["APP_DESCRIPTION"] %>
  app_keywords: <%= ENV["APP_KEYWORDS"] %>

  # 管理人員與預設送信地址資料。
  administrator_email: <%= ENV["ADMINISTRATOR_EMAIL"] %>
  administrator_url: <%= ENV["ADMINISTRATOR_URL"] %>
  mailer_sender: <%= ENV["MAILER_SENDER"] %>

  # Facebook。
  facebook_app_id: <%= ENV["FACEBOOK_APP_ID"] %>
  facebook_app_secret: <%= ENV["FACEBOOK_APP_SECRET"] %>

  # 註冊 email 格式驗證與分析。
  # Email 地址限制正規表示式，例如 '.+@mail\.ntust\.edu\.tw$' 或 '.+@.*\.edu\.tw$'。
  email_regexp_s: <%= ENV["EMAIL_REGEXP_S"] %>
  # Email 格式分析正規表示式，使用 named groups (student_id：學號、identity_id：身份代碼 (bmd)、admission_year：入學年度、admission_department_code：入學科系代碼) 拆解出可用資訊。
  # 例如：'^(?<student_id>(?<identity_id>[bmd])(?<admission_year>\d*)(?<admission_department_code>\d{2})\d{3})@mail\.ntust\.edu\.tw$'。
  email_analysis_regexp_s: <%= ENV["EMAIL_ANALYSIS_REGEXP_S"] %>

  # Mailgun。
  mailgun_api_key: <%= ENV["MAILGUN_API_KEY"] %>
  mailgun_domain: <%= ENV["MAILGUN_DOMAIN"] %>

  # Nexmo。
  nexmo_key: <%= ENV["NEXMO_KEY"] %>
  nexmo_secret: <%= ENV["NEXMO_SECRET"] %>

  # 監測與分析工具。
  # Google Analytics。
  google_analytics_id: <%= ENV["GOOGLE_ANALYTICS_ID"] %>
  # New Relic。
  newrelic_license_key: <%= ENV["NEWRELIC_LICENSE_KEY"] %>


# 特定環境設定。

production:
  <<: *defaults

test:
  <<: *defaults

development:
  <<: *defaults
  site_secret_key: 'site_secret_key_here'
  app_secret_key: 'app_secret_key_here'
  app_pepper: 'app_pepper_here'
  site_name: 'NTUST'
  org_name: 'NTUST'
  app_name: 'NTUST'
  app_description: 'NTUST Student Information Platform'
  app_keywords: 'ntust'
  app_domain: 'ntust.dev'
  app_url: 'http://ntust.dev/'
  administrator_email: 'administrator_email_here'
  administrator_url: 'administrator_url_here'
  mailer_sender: 'please-change-me-at-config-configuration@example.com'
  mailgun_api_key: 'mailgun_api_key_here'
  mailgun_domain: 'mailgun_domain_here'
  nexmo_key: 'nexmo_key_here'
  nexmo_secret: 'nexmo_secret_here'
  facebook_app_id: 'facebook_app_id_here'
  facebook_app_secret: 'facebook_app_secret_here'
  google_analytics_id: 'google_analytics_id_here'
  newrelic_license_key: 'newrelic_license_key_here'
  email_regexp_s: '.+@.*$'
  email_analysis_regexp_s: '^(?<id>.*)@.*$'
