.ui.vertical.center.wrapper.devise.login{style: "height: 100vh; position: absolute; top: 0;"}
  .ui.vertical.center
    .ui.fluid.form.segment.login.box
      %h3.ui.header 台科大學生嗎？
      = render 'partials/facebook_login_button'

:css
  .top.menu .login.button { display: none; }

- if session[:user_return_to].to_s.match(/^\/oauth\/authorize/)
  :javascript
    if (document.referrer.match(/#{Setting.app_domain}/)) {
      $('.ui.message').css('display', 'none');
      $('.login.box').css('display', 'none');
      $(function () {
        $('body').dimmer('show');
        $('body > .dimmer').attr('onclick','').unbind('click');

        head = (document.head || document.getElementsByTagName("head")[0]);
        style = document.createElement("style");
        style.type = "text/css";
        css = "#toast-container { display: none !important; }"
        if (style.styleSheet) {
          style.styleSheet.cssText = css;
        } else {
          style.appendChild(document.createTextNode(css));
        }
        head.appendChild(style);

        window.location = "#{default_authorize_path}";
      });
    }
