= render layout: 'me' do
  .content.friends
    .ui.items
      - @friends.each do |friend|
        %a.item{href: user_path(friend)}
          .image
            = image_tag friend.avatar(500)
          .content
            .name= friend.name
